@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BEM VINDO</h1>
<br /><br /><br /><br />
<p>
<a class="navbar-brand" asp-area="" asp-controller="Equipe" asp-action="Index">Equipes</a>
</p>
<br /><br /><br />

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
